<h2 id="sessions_new_title">ログイン</h2>
<div id="sessions_new_main_content">
  <%= form_for(:sessions, url: sessions_path) do |f| %>
    <%= f.label :name,'ユーザー名' %>
    <%= f.text_field :name %>
    <%= f.submit 'ログイン' %>
  <% end %>
  <p id="sessions_prompt_register">新規ユーザーの場合、<%= link_to 'ユーザー登録', new_user_path %>をしてください。
  </p>
</div>
