<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @exchange.time_limit_id %>
</p>

<p>
  <strong>Exchange flag:</strong>
  <%= @exchange.exchange_flag %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
