<%# 3つ以上、未引換がある場合はその旨伝える。２つなら「現在注文募集中のもの」 「前回の注文募集であつまったもの」の２つで、後者を表示すれば良い%>
  <div style="display: flex;">
    <%= render 'layouts/admin_side_nav.html.erb' %>
    <%# 同一userが、同一time_limitにするorderは１つだけとvalidationでしておく。 %>
    <p><%= flash[:exchange] %></p>
    <% if(flash[:exchange_success] ) %>
      <p><%= flash[:exchange_success] %></p>
      <div>
        <% @exchange.time_limit.orders.each do |order| %>
          <%= order.user.name %>
          <%= price_sum_of_this_order(order) %>
          <br />
          <% order.order_details.each do |detail| %>
            <%= detail.item.name %>
            <%= detail.quantity %>
            <br />
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

