%ul
  - @item.errors.full_messages.each do |message|
    %li= message

= form_for [:admin, @item] do |f|
  = f.label :name, '商品名'
  = f.text_field :name

  = f.label :price, '価格'
  = f.number_field :price

  = f.label :nestle_index_from_the_top, 'ネスレでの並び順'
  = f.select(:nestle_index_from_the_top, options_for_select(item_order_options(@items), {selected: @items.length.to_s}))

  = f.submit '保存する'
