%ul
  - @item.errors.full_messages.each do |message|
    %li= message

= form_for [:admin, @item] do |f|
  = f.label :name, '商品名'
  = f.text_field :name

  = f.label :price, '価格'
  = f.number_field :price

  = f.submit '保存する'

