= render 'form_errors', {object: @item}
#admin_flex_box
  = render 'application/admin_side_nav'

  #edit_item_content_box
    %h2#update_one_item_title.main_content_caption= "#{@item.name} の編集"
    = render 'form', selected: @item.nestle_index_from_the_top
