#admin_flex_box
  = render 'application/admin_side_nav'

  #item_index_content
    #item_index_create_item
      %h2.main_content_caption 新商品の作成
      %p
        = link_to '新商品登録ページ', new_admin_item_path
        をご覧ください。

    #item_index_update_item
      %h2.main_content_caption 商品の編集、削除

      %div
        %p
          「編集」を押すと商品名と価格を変更できます。
          %br
          「削除」で商品の削除ができます。
        %p
          削除できるのは、注文期間未設定の場合または注文期間中の場合です。
          %br
          期限切れの注文期間が存在している場合、削除はできません。
          %br
          (削除すると正常に引換ができなくなるおそれがあるためです。)

        %table#item_index_table
          %tr
            %th 商品名
            %th 価格
            %th
            %th

          - @items.each do |item|
            %tr{class: dom_id(item, :change)}
              %td= item.name
              %td= item.price
              %td= link_to '編集', edit_admin_item_path(item)
              %td
                %div
                  = link_to '削除',
                            admin_item_path(item),
                            method: :delete,
                            data: {confirm: destroy_items_confirm(item)}
