<span><a id="admin_period_what_can_do_opener" class="amazon_like_link">注文期間と対応する操作</a></span>
<span>（ダイアログが開きます）</span>
<div id="admin_period_what_can_do_dialog" title="詳細">
  <h3>注文期間未設定時にできること</h3>
  <h4>#ユーザーとして</h4>
  <ul>
    <li>なし</li>
  </ul>
  <h4>#管理者として</h4>
  <ul>
    <li><%=link_to '注文期限の新規設定', admin_period_path %></li>
    <li><%=link_to '商品の変更・削除', admin_items_path %></li>
    <li><%=link_to '送料と送料無料条件の設定', admin_postage_path %></li>
  </ul>
  <h3>注文期間中にできること</h3>
  <h4>#ユーザーとして</h4>
  <p><%=link_to '注文', order_path %><br>
  <h4>#管理者として</h4>
  <ul>
    <li><%=link_to '注文期限の設定', admin_period_path %></li>
    <li><%=link_to '商品の変更・削除', admin_items_path %></li>
    <li><%=link_to '送料と送料無料条件の設定', admin_postage_path %></li>
    <li><%=link_to 'ユーザーの注文変更', admin_users_path %></li>
  </ul>
  <h3>注文期間外にできること</h3>
  <h4>#ユーザーとして</h4>
  <ul>
    <li>なし</li>
  </ul>
  <h4>#管理者として</h4>
  <ul>
    <li><%=link_to '発注の登録', registered_path %></li>
    <li><%=link_to '発送の登録',     ordered_path %></li>
    <li><%=link_to '引換の登録',         arrived_path %></li>
    <li><%=link_to '注文期間を未設定に戻す',     admin_period_path %>(全ての引換が終わったか誰も注文していない場合)</li>
  </ul>
</div>
