<span><a id="opener">注文期限・期間の詳細</a></span>
<span>（ダイアログが開きます）</span>
<div id="dialog" title="詳細" >
  <h3>注文期間とは</h3>
  <p>ユーザーや管理者がネスレから購入する予定のお茶を自由に選択・削除できる期間のことです。<br>
  注文期間の開始日は、注文期限を設定した日が自動的に設定されます。</p>
  <h3>注文期限とは</h3>
  <p>注文期間の終了日のことです。</p>
  <h3>注文期間中にのみできること</h3>
  <h4>#ユーザーとして</h4>
  <p><%=link_to '注文', order_path %><br>（管理者に購入して欲しいお茶を選択したり選択を削除すること)</p>
  <h4>#管理者として</h4>
  <p><%=link_to '注文期間の変更', admin_period_path %></p>
  <p><%=link_to '注文期間の終了', admin_period_path %>（やり直し不可）</p>
  <p><%=link_to 'ユーザーの注文変更', admin_users_path %>（やり直し不可）</p>
  <p><%=link_to '商品の変更・削除', admin_items_path %>（やり直し不可）</p>
 </div>
