<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="confirm_period_in_show main_content_caption">注文期限の確認</h2>
      <div class="admin_periods_content">
        <%= render 'periods_states_confirm' %>
      </div>
      <h2 class="set_period_in_show main_content_caption">注文期間の詳細</h2>
      <div class="admin_periods_content">
        <%= render 'dialog' %>
      </div>
      <h2 class="set_period_in_show main_content_caption">注文期限の設定</h2>
      <div class="admin_periods_content">
        <% if @period.out_of_date? %>
          <%= render 'destroy_old_period_unless_order' %>
        <% elsif @period.has_undefined_times? %>
          <p>注文期限を新規作成できます。<br>
          期限は、本日より後である必要があります。</p>
          <p>期限の作成前には<%= link_to 'ダッシュボート', admin_dashboard_path %>にある通り<br>
          送料と商品がネスレとあっているか確認をしてください。</p>
          <%= render 'form' %>
        <% elsif @period.include_now? %>
          <p>注文期限を設定できます。<br>
          期限は、本日より後である必要があります。</p>
          <p>本日以前を設定したい場合は<br>
          注文期間の終了(<%= link_to 'ページ内リンク', '#fragment_id_of_end_period' %>)より行ってください。</p>
          <%= render 'form' %>
        <% else %>
            <% raise 'period has bag' %>
        <% end %>
      </div>
      <h2 class="set_period_in_show main_content_caption">注文期間の削除</h2>
      <div class="admin_periods_content">
        <p id="disabled_destory_period_p">
        <% if Period.include_now? %>
          <p>注文期限の削除はできません。期限終了までお待ちください。<br>期限中に注文されたすべてのお茶を引換えた場合<br>または期限内に誰も注文しなかった場合に、期限の削除ができます。</p>
          <p><%= button_to '注文期間を削除する', {action: 'destroy'}, {disabled: true, method: :delete, data: :delete} %></p>
        <% elsif Period.has_undefined_times? %>
          <p>期限を設定していないため、削除はできません。</p>
          <p><%= button_to '注文期間を削除する', {action: 'destroy'}, {disabled: true, method: :delete, data: :delete} %></p>
        <% else %>
          <% if Period.can_destroy? %>
            <p>注文期間を削除するために以下のボタンを押してください。</br>
            <p>注文期間を削除後は注文期間を再設定できます。<br>再設定後は新規注文を受け付けることができるようになります。</p>
            <%= button_to '注文期間を削除する', {action: 'destroy'}, {disabled: false, method: :delete} %>
          <% else %>
            <p>期間の削除はできません。注文期間中に、ユーザーがお茶を注文しています。<br>
            すべての注文を引換し<%= link_to '引換情報を削除', exchanged_path %>した後、ボタンを押せます。</p>
            <p>注文期間を削除・再設定することで新規注文を受け付けることができるようになります。<p>
            <%= button_to '注文期間を削除する', {action: 'destroy'}, {disabled: true,  method: :delete, data: 'delete'} %>
          <% end %>
        <% end %>
      </div>
      <h2 class="set_period_in_show main_content_caption" id='fragment_id_of_end_period'>注文期間の終了</h2>
      <div class="admin_periods_content">
        <p>注文期間中に限り、以下のボタンを押すことで注文期間を期限切れにすることができます。<br>
        （注文期限が昨日までだったことになります。）</p>
        <% if Period.include_now? %>
        <p>注文期間の終了は取り消すことができません。<br>
        発注・引換を行い、注文期間を変更・再設定できるようになるまで、<br>
        注文と注文期間の変更はできなくなります。</p>
        <p><%= button_to '注文期間を終了する', {action: 'expire'}, {disabled: false,  method: :post, data:{confirm: '注文と注文期間を変更できなくなります。注文期間を終了させてよろしいですか？'}} %></p>
        <% else %>
        <p><%= button_to '注文期間を終了する', {action: 'expire'}, {disabled: true,  method: :post} %></p>
       <% end %>
      </div>
    </div>
  </div>
</div>
