<%= render 'application/form_errors', {object: @order_detail} if @order_detail %>
<div class="general_user_flex">
  <%= render 'application/general_user_side_nav' %>
  <div>
    <div id="order_details_index_content">
      <h2 id="sub_title_in_order_details_index" class="main_content_caption">
        <%= current_user.name %>さんが今回注文するもの
      </h2>
        <%= render 'application/deadline' %>
        <% if @order.order_details.none? %>
          <p><%= current_user.name %>さんは、まだお茶を追加していません。追加すると、ここにお茶が表示されます。</p>
        <% else %>
          <%= render 'order_details_index_table' %>
        <% end %>
        <%= content_tag :p,
                        '追加したい商品と個数を選んで、「追加する」ボタンを押してください',
                        id: id_of_p_to_add_details(@order) %>
        <%= render 'application/add_details_form',
                   {url: order_details_path} %>
    </div>
  </div>
</div>
