<%= render 'application/form_errors', {object: @order_detail} if @order_detail %>
<div class="general_user_flex">
  <%= render 'application/general_user_side_nav' %>
  <div>
    <div id="order_details_index_content">
      <h2 id="sub_title_in_order_details_index" class="main_content_caption">
        <%= current_user.name %>さんが今回注文するもの
      </h2>
      <% if @order.order_details.none? %>
        <p><%= current_user.name %>さんは、まだお茶を追加していません。追加すると、ここにお茶が表示されます。</p>
      <% else %>
        <p><%= current_user.name %>さんは、以下のお茶を注文しています。</p>
        <p>キャンセルしたいお茶がある場合、「削除」リンクを押してください。</p>
        <div id='order_details_index_table_and_p_wraper'>
          <table id="order_details_index_table">
            <tr>
              <th class="name">品名</th>
              <th class="quantity">数量</th>
              <th class="price">単価</th>
              <th class="sum">小計</th>
              <th></th>
            </tr>
            <% @order.order_details.includes(:item).each do |detail| %>
              <tr class=<%= dom_id(detail) %>>
                <td class="name"><%= detail.item.name %></td>
                <td class="quantity"><%= detail.quantity %>個</td>
                <td class="price"><%= detail.item.price %>円</td>
                <td class="sum"><%= detail.quantity * detail.item.price %>円</td>
                <td class="destroy"><%= link_to(
                                          '削除',
                                          order_detail_path(detail),
                                          method: :delete,
                                          data: {confirm: '本当に削除してもよろしいですか？'}
                                        ) %></td>
              </tr>
            <% end %>
          </table>
          <p>
            <span id='order_details_index_sum_jp'>合計</span>
            <span id='detail_sum_yen'><%= @order.order_details.price_sum %>円</span>
          </p>
        </div>
      <% end %>
      <%= content_tag :p,
                      '追加したい商品と個数を選んで、「追加する」ボタンを押してください',
                      id: id_of_p_to_add_details(@order) %>
      <%= render 'application/add_details_form',
                 {url: order_details_path} %>
    </div>
  </div>
</div>
