<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
    <div id="admin_first_content">
    <h2 class="main_content_caption">引換済み商品ページ</h2>
    <div class="admin_content_under_caption">
      <% if @users.present? %>
        <p>以下のお茶は、引換が終了しています。</p>
        <%= render 'application/users_table.html', {users: @users} %>
        <% if Period.can_destroy? %>
          <p class='explain_exchange_table'>すべてのユーザーとの引換が終了したため<%=link_to '注文期間の再設定', admin_period_path %>ができます。</br>
          注文期間を再設定するとこのページの注文情報は空になります。</p>
        <% else %>
          <p class='explain_exchange_table'>すべてのユーザーの引換が終了すれば<%=link_to '注文期間の再設定', admin_period_path %>ができます。</p>
        <% end %>
      <% else %>
        <p>引換をしていません。<br>
        引換を行い、<%= link_to 'システムに引換を登録した場合', arrived_path %>、表に詳細が表示されます。</p>
        <%= render 'application/empty_users_table.html' %>
      <% end %>
    </div>
  </div>
</div>

