<span id='postage_link_dialog'><a id="opener">送料の詳細</a></span>
<span>（ダイアログが開きます）</span>
<div id="dialog" title="送料の詳細">
  <h3 class='dialog_subtitle'>ネスレの送料の規定</h3>
  <p>ネスレは合計<%= Postage.postage_border %>円以上の場合は送料無料にしています。<br>
  <%= Postage.postage_border %>円に満たない場合は、<%= Postage.postage_cost %>円の送料が発生します。</p>
  <h3 class='dialog_subtitle'>送料の計算方法</h3>
  <p>ネスレの請求送料 ÷ 注文ユーザー数<br>です。</p>
  <h3 class='dialog_subtitle' id='current_postage_dialog'>現在の送料: <%= Postage.cost_per_person_concern_free %>円</h3>
  <% if Period.has_undefined_times? %>
    <p>なお、注文期間未設定のため、送料は考慮する必要がありません。</p>
  <% else %>
    <% if Postage.free? %>
      送料は0円です。<br>注文しているユーザーが<span id='order_headcount'><%= Order.count_of_non_empty_order %>人</span>いて、注文合計金額が<span id='orders_price_sum'><%= Order.price_sum %>円</span>のためです。</p>
    <% else %>
      <span id='order_headcount'><%= Order.count_of_non_empty_order %>人</span>が注文しています。合計<span id='orders_price_sum'><%= Order.price_sum %>円</span>のため送料無料になりません。<br>
      １人あたりの送料が<%= Postage.cost_per_person_concern_free %>円発生します。</p>
    <% end %>
  <% end %>
  <h3 class='dialog_subtitle' id='postage_change_dialog'>変動の可能性: <%= Period.include_now? ? '有' : '無'%></h3>
  <% if Period.include_now? %>
    <p>注文期間中なのでユーザーは注文を変更できます。それにより１人あたりの送料が変動する可能性があります。</p>
  <% else %>
    <p>注文期間中ではないのでユーザーの注文は変更されません。<br>
    そのため１人あたりの送料は変動しません。</p>
  <% end %>
</div>
