<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>引換情報</h3>
      <div>
        <p>以下の方に、お茶をお渡ししてお金を受け取ってください。</p>
        <p>引換を完了した方は、引換完了チェックを入れてください。</p>
        <p>確認ボタンを押すと、引換完了チェックを入れた注文について、引換が終了したことが登録されます。</p>
        <div id="nestle_input_sheet_flex_box">
          <%= form_for :order, url: exchanged_orders_path, method: "get" do |f| %>
          <table id="admin_order_table">
            <tr><th>お名前</th><th>支払い金額</th><th>商品内訳</th><th>引換完了チェック</th></tr>
            <% orders = Order.arrived %>
              <% orders.each do |order| %>
                <tr>
                  <td class="name"><%= order.user.name %></td>
                  <td class="price"><%= Order.price_sum_of_this_order(order) %></td>
                  <td class="items">
                    <table>
                      <% order.order_details.each do |detail| %>
                        <tr><td><%= detail.item.name %></td><td><%= detail.quantity %></td></tr>
                      <% end  %>
                    </table>
                  </td>
                  <td>
                    <%= f.hidden_field :order_id, { :value => order.id }  %>
                    <%=  f.check_box :exhanged_complete %>
                  </td>
                </tr>
              <% end %>
          </table>
          <% end %>
        </div>
        <p>引換が終わったら以下のボタンを押してください。
        引換が終了したことを、システムに登録します。</p>
        <%= form_for :order, url: exchanged_orders_path, method: "get" do |f| %>
        <%= f.hidden_field :state_by_hand, { :value => 'exchanged'  }  %>
        <%=  f.submit '引換の完了をシステムに登録'%>
      <% end %>
      </div>
    </div>
  </div>
</div>

