<div id="order_create_content">
  <h2>ご注文の確認</h2>
  <div>
    <p>ありがとうございます。<br />以下の商品を注文しました。</p>
    <p id="order_create_user_name"><%= current_user.name %>さんのご注文</p>
    <div id="order_create_flex">
      <table id="order_create_table">
        <tr>
          <th class="name">商品</th>
          <th class="quantity">数量</th>
          <th class="price">金額</th>
        </tr>
        <% @order.order_details.each do |detail|%>
          <tr>
            <td class="name"><%= detail.item.name %></td>
            <td class="quantity"><%= detail.quantity %>個</td>
            <td class="price"><%= detail.quantity * detail.item.price %>円</td>
          </tr>
        <% end %>
      </table>
      <div id="total_price" class="child-align-box">
        <p>合計金額<%= Order.price_sum_of_this_order(@order) %>円</p>
      </div>
    </div>
    <p>後日、担当のesm社員がお茶をお渡しに伺います。その際に代金をお支払いください。</p>
  </div>
</div>
