<% if !signed_in? %>
<p>サインインしてください</p>
<% else %>
  <h2>既存注文の修正</h2>
  <div class="order_new_content">
    <div id="order_new_select">
      <h2>ほしいお茶と数を選択してください</h2>
      <%= form_for(@order) do |f|%>
        <div id="order_flex_box">
          <div class="tea_select">
            <%= f.hidden_field :user_id, {:value => @current_user.id} %>
            <%= f.fields_for :order_details, include_id: false do |order_details_form| %>
              <div class="order_details_form">
                <%= order_details_form.label :item_id, '品名：' %>
                <%= order_details_form.select(
                  :item_id ,
                  item_options ,
                  {} ,
                  class: 'name_price_options'
                ) %>
                <%= order_details_form.label :quantity, '数量：' %>
                <%= order_details_form.select(
                  :quantity ,
                  quantity_options ,
                  {} ,
                  class: 'quantity_options'
                ) %>
              </div>
            <% end %>
          </div>
          <div id="order_confirm">
            <p id="order_create_price_sum">合計: 0円</p>
            <%= f.button :注文を確定する %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <p>詳しい商品情報は<a href="https://shop.nestle.jp/front/app/cart/collect_cart/init/00000000/SpecialTCapsule/">ネスレ通販のサイト</a>を参照してください。
    </p>
  </div>
<% end %>
