<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>引換済みのお茶</h3>
      <div id="nestle_input_sheet_flex_box">
        <table id="admin_order_table">
          <tr><th>商品名</th><th>単価</th><th>合計数量</th></tr>
          <% orders = Order.name_price_quantity_sum(:exchanged) %>
          <% order.each do  |order| %>
            <tr><td class="name"><%= a.name %></td><td class="price"><%= a.price %></td><td class="sum"><%= a.sum %></td></tr>
          <% end %>
        </table>
        <%# WIP %>
        <p id="payment" class="child-align-box">支払い金額:<%= Order.price_sum_of_this_user(user, :exchanged) %>円</p>
      </div>
    </div>
  </div>
</div>

