<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>ネスレ発送待ちページ</h3>
      <div id="nestle_input_sheet_flex_box">
        <table id="admin_order_table">
          <tr><th>商品名</th><th>単価</th><th>合計数量</th></tr>
          <% orders = Order.name_price_quantity_sum(:ordered) %>
          <% orders.each do  |order| %>
            <tr><td class="name"><%= order.name %></td><td class="price"><%= order.then_price %></td><td class="sum"><%= order.sum %></td></tr>
          <% end %>
        </table>
        <p id="payment" class="child-align-box">支払い金額:<%= Order.price_sum_of_this_state_orders(:ordered) %>円</p>
      </div>
      <p>ネスレ公式からお茶が届いたら、以下のボタンを押してください。<br />
      お茶が到着したことをシステムに登録します。</p>
      <%= form_for :order, url: arrived_orders_path, method: "get" do |f| %>
        <%= f.hidden_field :state_by_hand, { :value => 'arrived'  }  %>
        <%=  f.submit 'お茶の受領をシステムに登録'%>
      <% end %>
    </div>
  </div>
</div>

