<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>ネスレ入力用シート</h3>
      <div>
        <p>以下のお茶注文情報を見ながら<%= link_to 'ネスレ通販サイト', 'https://shop.nestle.jp/front/app/cart/collect_cart/init/00000000/SpecialTCapsule/' %>で注文してください。</p>
        <div id="nestle_input_sheet_flex_box">
          <table id="admin_order_table">
            <tr><th>商品名</th><th>単価</th><th>合計数量</th></tr>
            <% arr = Order.name_price_quantity_sum(:registered) %>
            <% arr.each do  |a| %>
              <tr><td class="name"><%= a.name %></td><td class="price"><%= a.price %></td><td class="sum"><%= a.sum %></td></tr>
            <% end %>
          </table>
          <p id="payment" class="child-align-box">
            支払い金額:<%= Order.price_sum_of_this_state_orders(:registered) %>円
          </p>
        </div>
        <p>ネスレ公式での注文が終わったら以下のボタンを押してください。<br />
        注文が終わったことをシステムに登録します。</p>
        <%= form_for :order, url: ordered_orders_path, method: "get" do |f| %>
          <%= f.hidden_field :state_by_hand, { :value => 'ordered' }  %>
          <%=  f.submit '注文の完了をシステムに登録'%>
        <% end %>
      </div>
    </div>
  </div>
</div>

