<div class="general_user_flex">
  <%= render "application/general_user_side_nav" %>
  <div>
    <div id="show_order_content">
      <h2 id="explain_state_in_show_order" class="main_content_caption">
        注文の状況：
        <%= t(@order.state, scope: 'models.order.state') %>
      </h2>
      <p><%= raw t(@order.state, scope: 'message.instruction.state') %>
      <h2 id="history_subtitle_in_orders_show" class="main_content_caption">
        <%= current_user.name %>さんの注文履歴
      </h2>
      <p><%= current_user.name %>さんは、以下のお茶を注文しています。</p>
      <div id='order_details_index_table_and_p_wraper'>
        <table id="order_details_index_table">
          <tr>
            <th class="name">品名</th>
            <th class="quantity">数量</th>
            <th class="price">単価</th>
            <th class="sum">小計</th>
          </tr>
          <% @order.order_details.each do |detail| %>
            <tr class=<%= dom_id(detail) %>>
              <td class="name"><%= detail.item.name %></td>
              <td class="quantity"><%= detail.quantity %>個</td>
              <td class="price"><%= detail.item.price %>円</td>
              <td class="sum"><%= detail.quantity * detail.item.price %>円</td>
            </tr>
          <% end %>
        </table>
        <p>
          <span id='order_details_index_sum_jp'>合計</span>
          <span id='detail_sum_yen'><%= @order.order_details.price_sum %>円</span>
        </p>
      </div>
    </div>
  </div>
</div>
