<%= render 'application/form_errors', {object: @postage } if @postage %>
<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="main_content_caption">送料・無料条件の確認</h2>
      <div class='main_content' id='postgae_main_content'>
        <p>送料は<span id='cost'><%= @cost %></span>円が登録されています。</p>
        <p>ユーザーたちの注文が合計<span id='border'><%= @border %></span>円以上になる場合、送料が無料になります。</p>
        <p>上記の数字は、手動で登録したものです。ネスレが異なる送料・条件を設定している可能性があります。<br>
        発注前には<%= shipping_cost_page_link(link_text: 'ネスレのサイト') %>を参照し、最新の送料情報を確認してください。</p>
      </div>
      <h2 class="set_period_in_show main_content_caption">送料・無料条件の変更</h2>
      <% if Order.all.any? {|order| order.not_registered? } %>
        <p id='why_cannot_change_postage_p'>発注済みの注文があるため、送料・無料条件の変更ができません。<br>
        変更すると、ユーザーへの請求金額が変わるおそれがあるためです。</p>
        <%= render 'form', disabled: true %>
      <% else %>
        <%= render 'form', disabled: false %>
      <% end %>
    </div>
  </div>
</div>
