<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="main_content_caption">引換用ページ</h2>
      <div class="admin_content_under_caption">
        <% if @users.present? %>
          <p>以下の方に、お茶をお渡ししてお金を受け取ってください。</p>
          <p>引換を完了した方の欄に、引換完了チェックを入れてください。</p>
          <p>確認ボタンを押すと、引換完了チェックを入れた注文について、引換が終了したことが登録されます。</p>
          <%= form_tag exchange_arrived_path, method: :post do %>
            <%= render 'arriveds_table' %>
            <p id="p_for_arrive_to_exchange_button">引換が終わったら以下のボタンを押してください。
            引換が終了したことを、システムに登録します。</p>
            <%= submit_tag '引換の完了をシステムに登録',
                           data: {confirm: '引換の完了を登録してもよろしいですか？'} %>
          <% end %>
        <% else %>
          <p>お茶が届いていません。</p>
          <p>お茶が届き、<%= link_to 'システムに受領を登録した場合', ordered_path %>は</p>
          <p>ユーザーごとの詳細を書いた表が表示されます。</p>
          <p>この表を元に、お茶とお金の引換を行うことができます。</p>
          <p>また、引換を行ったことをシステムに登録できます。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
