<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="main_content_caption">ネスレに発注する商品の一覧</h2>
      <div class="admin_content_under_caption">
        <% if @registereds.any? %>
          <%= render 'application/admin_orders_table',
                     {paticular_state_orders_grouped_by_item: @registereds} %>
          <%= render Period.include_now? ? 'disabled_button' : 'enabled_button' %>
        <% else %>
          <%= render 'application/admin_orders_empty_table' %>
          <%= render 'disabled_button_when_empty' %>
        <% end %>
      </div>
    </div>
    <h2 id="caption_on_users_table_in_admin" class="main_content_caption">ユーザーごとの詳細</h2>
    <div class="admin_content_under_caption">
      <% if @users.present? %>
        <p class='p_about_users_table'>ネスレ入力用ページにある商品の、ユーザーごとの詳細は以下のとおりです。</p>
        <%= render 'application/users_table.html', {users: @users} %>
      <% else %>
        <p class='p_about_users_table'>ユーザーが注文すると、ユーザーごとの詳細を見られるようになります。</p>
        <%= render 'application/empty_users_table.html' %>
      <% end %>
    </div>
    <h2 class="main_content_caption" id="order_notice_title">ユーザーへの通知</h2>
    <div class="admin_content_under_caption">
      <% if @users.present? %>
        <%= render '/registereds/copy_user_order' %>
      <% else %>
        <%= render 'registereds/copy_empty_user_order' %>
      <% end %>
    </div>
  </div>
</div>
