<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="main_content_caption">ネスレに発注する商品の一覧</h2>
      <div class="admin_content_under_caption">
        <% if @registereds.any? %>
          <p>以下のお茶注文情報を見ながら<%= nestle_shopping_site_link('ネスレの通販サイト') %>で注文してください。</p>
          <%= render partial: 'application/admin_orders_table',
                     locals: {paticular_state_orders_grouped_by_item: @registereds} %>
          <p id="p_for_register_to_order_button">ネスレでの注文が終わったら以下のボタンを押してください。<br />
          注文が終わったことをシステムに登録します。</p>
          <p>ボタンを押すと、引換終了後に注文情報を削除するまで、利用者が注文を修正できなくなります。ご注意ください。</p>
          <%= form_for :order, url: order_registered_path, method: :post do |f| %>
            <%= f.submit '注文の完了をシステムに登録',
                         data: {confirm: '注文の修正ができなくなります。本当に注文完了を登録してもよろしいですか？'} %>
          <% end %>
        <% else %>
          <p>ユーザーが商品を注文に追加すると、商品ごとの発注数量と金額の一覧表が見れるようになります。</p>
          <p>その一覧表を元に<%= nestle_shopping_site_link('ネスレの通販サイト') %>で注文ができます。</p>
          <p>一覧表がある場合、ネスレに発注したことをこのシステムに登録することができます。</p>
        <% end %>
      </div>
    </div>
    <h2 id="caption_on_users_table_in_admin" class="main_content_caption">ユーザーごとの詳細</h2>
    <div class="admin_content_under_caption">
      <% if @users.present? %>
        <p>ネスレ入力用ページにある商品の、ユーザーごとの詳細は以下のとおりです。</p>
        <%= render partial: 'application/users_table.html', locals: {users: @users} %>
      <% else %>
        <p>ユーザーが商品を注文に追加すると、ユーザーごとの詳細を見られるようになります。</p>
      <% end %>
    </div>
  </div>
</div>
