<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h3>ネスレ入力用シート</h3>
      <div class="admin_under_h3_content">
        <p>以下のお茶注文情報を見ながら<%= link_to 'ネスレ通販サイト', 'https://shop.nestle.jp/front/app/cart/collect_cart/init/00000000/SpecialTCapsule/' %>で注文してください。</p>
        <%= render(
          partial: 'application/admin_orders_table',
          locals: {paticular_state_orders_grouped_by_item: @registereds}
        ) %>
        <p id="p_for_register_to_order_button">ネスレ公式での注文が終わったら以下のボタンを押してください。<br />
        注文が終わったことをシステムに登録します。</p>
        <p>ボタンを押すと、引換終了後に注文情報を削除するまで、利用者が注文を修正できなくなります。ご注意ください。</p>
        <%= form_for :order, url: order_registered_path, method: :post do |f| %>
          <%=  f.submit '注文の完了をシステムに登録', data: {confirm: '注文の修正ができなくなります。本当に注文完了を登録してもよろしいですか？'} %>
        <% end %>
      </div>
    </div>
    <h3 id="h3_on_users_table_in_admin_orders_pages">ユーザーごとの詳細</h3>
    <div class="admin_under_h3_content">
      <p>ネスレ入力用シートにある商品の、ユーザーごとの内訳は以下のとおりです。</p>
      <%= render 'application/users_table.html' %>
    <div>
  </div>
</div>
