<p><%= flash[:notice] %></p>
<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>ネスレ発送待ちページ</h3>
      <div id="nestle_input_sheet_flex_box">
        <table id="admin_order_table">
          <tr><th>商品名</th><th>単価</th><th>合計数量</th></tr>
          <% arr = Order.name_price_quantity_sum(:shipped) %>
          <% arr.each do  |a| %>
            <tr><td class="name"><%= a.name %></td><td class="price"><%= a.price %></td><td class="sum"><%= a.sum %></td></tr>
          <% end %>
        </table>
        <p id="payment" class="child-align-box">支払い金額:<%= Order.price_sum %>円</p>
      </div>
      <p>ネスレ公式からお茶が届いたら、以下のボタンを押してください。<br />商品の引換情報が管理できるようになります。</p>
      <%= form_for :undispatched, url: undispatched_path, method: "PUT" do |f| %>
        <%= f.hidden_field :undispatched_complete, { :value => true }  %>
        <%=  f.submit '注文完了'%>
      <% end %>
    </div>
  </div>
</div>

