<div class="general_user_flex">
  <%= render "application/general_user_side_nav" %>
  <div>
    <div id="show_order_content">
      <h2 class="main_content_caption order_show_cap">注文の状況: <%= @order.translate_state_concerning_detail[:short] %></h2>
      <p><%= @order.translate_state_concerning_detail[:long] %></p>

      <!-- 注文期限の確認 -->
      <% case Period.state %>
      <% when :include_now %>
        <%= render 'mocks/periods/include_now_notice' %>
      <% when :out_of_date %>
        <%= render 'mocks/periods/out_of_date_notice' %>
      <% when :has_undefined_times %>
        <%= render 'mocks/periods/undefined_notice' %>
      <% else %>
        <% raise 'invlaid period' %>
      <% end %>

      <!-- 明細一覧の確認 -->
      <% if  @order.order_details.present? %>
        <%= render "mocks/details/present" %>
      <% else %>
         <%= render "mocks/details/empty" %>
      <% end %>

      <!-- 明細の追加フォーム -->
      <% case Period.state %>
      <% when :include_now %>
        <%= render 'mocks/forms/form' %>
      <% when :out_of_date %>
        <%= render 'mocks/forms/disabled_form_by_old' %>
      <% when :has_undefined_times %>
        <%= render 'mocks/forms/disabled_form_by_undefined' %>
      <% else %>
        <% raise 'invlaid period' %>
      <% end %>
    </div>
  </div>
</div>
