<div id='status_bar' class='admin_version'>
  <div class='for_minus_letter_space'>
    <% explains.each_with_index do |explain, i| %>
      <% case i <=> target %>
      <% when -1 %>
        <div class='small_box' id='before_target'>
          <div class='circle'></div>
          <div class='state'><%= explain %></div>
          <div class='cart'><%= icon('shopping-cart') %></div>
        </div>
      <% when 0 %>
        <div class='small_box' id='cart_target'>
          <div class='circle'></div>
          <div class='state'><%= explain %></div>
          <div class='cart'><%= icon('shopping-cart') %></div>
        </div>
      <% when 1 %>
        <div class='small_box'>
          <div class='circle'></div>
          <div class='state'><%= explain %></div>
          <div class='cart'><%= icon('shopping-cart') %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='for_minus_letter_space'>
    <div id='state_bar_second_row'>
      <% 2.times do %>
        <div class='small_box only_under_liner'>
          <div class='circle'></div>
          <div class='state'></div>
          <div class='cart'><%= icon('shopping-cart') %></div>
        </div>
      <% end %>
      <div class='small_box left_vertical_line_box'>
        <div class='circle'></div>
        <!-- TODO 注文なしをビューに直接埋めるのをやめる -->
        <div class='state'>注文なし</div>
        <div class='cart'><%= icon('shopping-cart') %></div>
      </div>
    </div>
  </div>
</div>
