<head>
  <script><!--
  $(document).ready(function(){
    $('.sub').css('display','none')

    $('.parent_position_div').click(function(){
      $(this).find('label').toggleClass('toggled_color');
      $(this).find('.sub').toggle();
    });
  });
  //-->
  </script>
  <style type="text/css">
  .parent_position_div {
    position: relative;
  }
  .sub {
    position: absolute;
    z-index: 1;
    background-color: rgba(255,255,255,1);
    border: solid thin;
    list-style: none;
    padding: 1em;
  }
  .toggled_color {
    background: rgb(47, 56, 66);
    color: white;
  }
  #triangle {
    position: absolute;
    bottom: 0.1em;
    margin-left: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #007bff transparent transparent transparent;
    }
  </style>
</head>
<div id="admin_flex_box">
  <%= render 'layouts/admin_side_nav' %>
  <div>
    <div id="nestle_input_sheet">
      <h3>ユーザー一覧</h3>
      <div>
        <%= form_tag exchange_arrived_path, method: :post do %>
          <div id="nestle_input_sheet_flex_box">
            <table id="admin_order_table" class="exchange_table">
              <tr>
                <th>お名前</th>
                <th>注文状態</th>
                <th>合計支払い金額</th>
                <th>商品内訳</th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <div class='parent_position_div'>
                      <%= label_tag "user_#{user.id}", user.name%>
                      <span id='triangle'></span>
                    <div>
                    <ul class='sub'>
                      <li><%= link_to '名前の変更','#' %></li>
                      <li><%= link_to '退会','#' %></li>
                    </ul>
                  </td>
                  <td><%= user.order.state %>
                  <td><%= user.order.order_details.price_sum  %></td>
                  <td>
                    <% user.order.order_details.each do |detail| %>
                      <div class="inner_table">
                        <div><%= "#{detail.item.name}(#{detail.then_price}円)" %></div>
                        <div><%= "#{detail.quantity}個" %></div>
                      </div>
                    <% end %>
                  </td>
<% if false %>
                  <td><%= link_to '編集', edit_admin_user_path(user) %></td>
                  <td><%= link_to '削除', admin_user_path(user), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} %></td>
<% end %>
                </tr>
              <% end %>
            </table>
          </div>
          <p>引換が終わったら以下のボタンを押してください。
          引換が終了したことを、システムに登録します。</p>
          <%=  submit_tag '引換の完了をシステムに登録' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
