<%= render partial: 'application/form_errors', locals: {object: @user} if @user %>
<div id="admin_flex_box">
  <%= render 'application/admin_side_nav' %>
  <div>
    <div id="admin_first_content">
      <h2 class="admin_user_title_in_new main_content_caption">ユーザーの登録</h2>
      <%= form_for [:admin, @user] do |f| %>
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name %>

        <%= f.submit '登録する' %>
      <% end %>
    </div>
  </div>
</div>

