<nav id="admin_side_nav">
  <h2>管理者用トピック</h2>
  <ul>
    <li><%= link_to 'ネスレ入力用ページ', registered_path %></li>
    <li><%= link_to '発送待ち商品の確認', ordered_path %></li>
    <li><%= link_to '引換用ページ', arrived_path %></li>
    <li><%= link_to '引換済み商品の確認', exchanged_path %></li>
    <li><%= link_to '商品の管理', admin_items_path %></li>
    <li><%= link_to 'ユーザーの管理', admin_users_path %></li>
  </ul>
</nav>
