<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @time_limit.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @time_limit.end %>
</p>

<%= link_to 'Edit', edit_time_limit_path(@time_limit) %> |
<%= link_to 'Back', time_limits_path %>
