<header>
  <% if signed_in? %>
    <% name = @current_user.name %>
  <% else %>
    <% name = 'ゲスト'  %>
  <% end %>
  <div id="for_header_menu_position">
    <h1 id="title">お茶注文用サイト</h1>
    <div id="flex">
      <p id="greeting">こんにちは<%= name %>さん</p>
      <% if @current_user %>
        <p id="sign_out"><%= link_to 'ログアウト', '/signout', method: 'delete' %></p>
        <p id="mypage" style="display: none;"><%= link_to 'マイページ',user_path(@current_user) %></p>
        <p id="admin_page"><%= link_to '管理者用',nestle_input_path %></p>
      <% else  %>
        <p id="mypage"><%= link_to 'ログイン',new_session_path %>すれば、マイページが使えます</p>
      <% end %>
    </div>
  </div>
  <nav id="bread">
    <p><%= link_to "TOP", root_path %>
    <span>&gt;</span><span>#</span>
    </p>
  </nav>
  <% if flash[:error] %>
    <p id="flash_error_p"><%= flash[:error] %></p>
  <% end %>
  <% if flash[:success] %>
    <p id="flash_success_p"><%= flash[:success] %></p>
  <% end %>
</header>
