<!DOCTYPE html>
<html>
<head>
  <title>Tea02</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<footer>
  <% if(Rails.env.development?) %>
    <%= debug(params) %>
    <%= debug( @user) %>
    <%= debug(flash) %>
    <span>@current_user <%= debug(@current_user) %></span>
    <span>cookies[:remember_token] :<%= debug(cookies[:remember_token]) %></span>
    <span>
      User.encrypt(cookies[:remember_token]:
      （なお、cookies[:remember_token]がnilなら da39a3ee5e6b4b0d3255bfef95601890afd80709になる）
      <%= debug(User.encrypt(cookies[:remember_token])) %>
    </span>
    <span>
      Order.joins(order_details: :item).group("items.id").select("SUM(quantity),items.name"):
      <%= debug(Order.joins(order_details: :item).group("items.id").select("SUM(quantity),items.name")) %>
    </span>
  <% end %>
</footer>
</body>
</html>
